- if (typeof user !== 'undefined')
	span Welcome, #{user.name.first}&nbsp;&nbsp;
	a(href='/logout', title='Logout') Logout
- else
	a(href='/login', title='Login') Login&nbsp;&nbsp;
	a(href='/register', title='Register') Register

