extends layout

block content
	form.form-horizontal(action='/login', method='post')
		fieldset
			legend Login

			.control-group
				label.control-label(for='username') Username
				.controls
					input(name='username', type='text', placeholder='Your user name')
			.control-group
				label.control-label(for='password') Password
				.controls
					input(name='password', type='password')
			.control-group
				.controls
					input.btn(type='submit', value='Login')