extends layout

block content
	form(action='/doRegister', method='post')
		fieldset
			legend Create new account

			.control-group
				label.control-label(for='username') Username
				.controls
					input(name='username', type='text', placeholder='Choose your user name...')
			.control-group
				label Password
				.controls
					input(name='password', type='password')
			.control-group
				label Confirm your password
				.controls
					input(name='confirmPassword', type='password')
			.control-group
				label.control-label(for='firstName') First Name
				.controls
					input(name='firstName', type='text', placeholder='Enter your first name...')
			.control-group
				label.control-label(for='lastName') Last Name
				.controls
					input(name='lastName', type='text', placeholder='Enter your last name...')
			.contro-group
				.controls
					input.btn(type='submit', value='Create account')